<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clinic</key>
	<dict>
		<key>address</key>
		<string>3410 Far West Boulevard, Austin TX</string>
		<key>phone</key>
		<string>512.349.0777</string>
		<key>website</key>
		<string>allergyfreeaustin.com</string>
		<key>hours</key>
		<array>
			<dict>
				<key>days</key>
				<string>M-F</string>
				<key>times</key>
				<string>8am-4:30pm appt. and shots</string>
			</dict>
			<dict>
				<key>days</key>
				<string>Sat</string>
				<key>times</key>
				<string>9-11:30am shots only</string>
			</dict>
		</array>
	</dict>
	<key>groups</key>
	<array>
		<string>trees</string>
		<string>grasses</string>
		<string>molds</string>
		<string>weeds</string>
	</array>
	<key>seasons</key>
	<array>
		<string>spring</string>
		<string>summer</string>
		<string>autumn</string>
		<string>winter</string>
	</array>
	<key>types</key>
	<array>
		<dict>
			<key>key</key>
			<string>ash</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>ash</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>bir</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>birch</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>cdr</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>mountain cedar</string>
			<key>season</key>
			<integer>3</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>cot</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>cottonwood</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>elm</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>elm</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fel</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>fall elm</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>grs</string>
			<key>group</key>
			<integer>1</integer>
			<key>name</key>
			<string>grass</string>
			<key>season</key>
			<integer>1</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>hck</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>hackberry</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>lmb</string>
			<key>group</key>
			<integer>3</integer>
			<key>name</key>
			<string>lambs quarter</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>md0</string>
			<key>group</key>
			<integer>2</integer>
			<key>name</key>
			<string>molds</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>3000</integer>
				<key>l</key>
				<integer>150</integer>
				<key>m</key>
				<integer>500</integer>
				<key>vh</key>
				<real>8000</real>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>md1</string>
			<key>group</key>
			<integer>2</integer>
			<key>name</key>
			<string>molds</string>
			<key>season</key>
			<integer>1</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>3000</integer>
				<key>l</key>
				<integer>150</integer>
				<key>m</key>
				<integer>500</integer>
				<key>vh</key>
				<real>8000</real>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>md2</string>
			<key>group</key>
			<integer>2</integer>
			<key>name</key>
			<string>molds</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>3000</integer>
				<key>l</key>
				<integer>150</integer>
				<key>m</key>
				<integer>500</integer>
				<key>vh</key>
				<real>8000</real>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>md3</string>
			<key>group</key>
			<integer>2</integer>
			<key>name</key>
			<string>molds</string>
			<key>season</key>
			<integer>3</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>3000</integer>
				<key>l</key>
				<integer>150</integer>
				<key>m</key>
				<integer>500</integer>
				<key>vh</key>
				<real>8000</real>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>mel</string>
			<key>group</key>
			<integer>3</integer>
			<key>name</key>
			<string>marsh elder</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>msq</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>mesquite</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>mul</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>mullberry</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>oak</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>oak</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>pec</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>pecan</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>pig</string>
			<key>group</key>
			<integer>3</integer>
			<key>name</key>
			<string>pigweed</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>pop</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>poplar</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>prv</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>privet</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>rag</string>
			<key>group</key>
			<integer>3</integer>
			<key>name</key>
			<string>ragweed</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>rbj</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>red berry juniper</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>rst</string>
			<key>group</key>
			<integer>3</integer>
			<key>name</key>
			<string>russian thistle</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>sag</string>
			<key>group</key>
			<integer>3</integer>
			<key>name</key>
			<string>sage</string>
			<key>season</key>
			<integer>2</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>syc</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>sycamore</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>wal</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>walnut</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>wil</string>
			<key>group</key>
			<integer>0</integer>
			<key>name</key>
			<string>willow</string>
			<key>season</key>
			<integer>0</integer>
			<key>levels</key>
			<dict>
				<key>h</key>
				<integer>300</integer>
				<key>l</key>
				<integer>15</integer>
				<key>m</key>
				<integer>50</integer>
				<key>vh</key>
				<integer>3000</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
