<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>614929615875-je7eu97ecjdklikkl7kh0mgpsgrkb59n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614929615875-je7eu97ecjdklikkl7kh0mgpsgrkb59n</string>
	<key>API_KEY</key>
	<string>AIzaSyD8j8D6R3GBDu6uH5hU2z8ZogJqAPHKv_A</string>
	<key>GCM_SENDER_ID</key>
	<string>614929615875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robbykraft.Character</string>
	<key>PROJECT_ID</key>
	<string>character-68dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>character-68dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:614929615875:ios:0ed8224b6f9db028</string>
	<key>DATABASE_URL</key>
	<string>https://character-68dcf.firebaseio.com</string>
</dict>
</plist>